.table-header-row {
    font-size: small;
    text-align: left;
    background-color: #343a40;
    color:white
}

.table-body {
    font-size: small;
    background-color: white;
}

.table-row-even {
    cursor: pointer;
}

.table-row-odd {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

.table-row-selected {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}

.table Table {
    height: 20vh;
}


/* .selected-row {
    background-color: #eea9a9 !important;
} */

/* ==================================== ROW CSS COLORING  ==================================== */

.unmatched-row {
    background-color: white !important;
}

/* THIS DETERMINES ROW COLOR NORMALLY */
.matched-row > td {
    background-color: #d2eea9 !important;
}

/* THIS DETERMINES ROW COLOR ON HOVER */
tr.matched-row:hover > td  {
    background-color: #bbeb73 !important;
}

/* Repeat the above two rules for each case: */

.selected-matched-row > td {
    background-color: #f9ffa4 !important;
}

tr.selected-matched-row:hover > td {
    background-color: #f4ff5b !important;
}

tr.matched-row:hover td > td {
    background-color: #bbeb73 !important;
}
