.table-header-row {
    font-size: small;
    text-align: left;
    background-color: #343a40;
    color:white
}

.table-body {
    font-size: small;
    background-color: white;
}

.table-row-even {
    cursor: pointer;
}

.table-row-odd {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

.table-row-selected {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}

.table Table {
    height: 20vh;
}


/* .selected-row {
    background-color: #eea9a9 !important;
} */

/* ==================================== ROW CSS COLORING  ==================================== */

.unmatched-row {
    background-color: white !important;
}

/* THIS DETERMINES ROW COLOR NORMALLY */
.matched-row > td {
    background-color: #eeeeee !important;
}

/* THIS DETERMINES ROW COLOR ON HOVER (note :hover css selector) */
tr.matched-row:hover > td  {
    background-color: #e0e0e0 !important;
}

/* Repeat the above two rules for each case: */

/* Selected + matched right */
.selected-matched-row-right > td {
    background-color: #d3f1ff !important;
}

tr.selected-matched-row-right:hover > td {
    background-color: #b3e7ff !important;
}

/* Selected + matched left  */
.selected-matched-row-left > td {
    background-color: #d3f1ff !important;
}

tr.selected-matched-row-left:hover > td {
    background-color: #b3e7ff !important;
}

/* Basic matched row */
tr.selected-row > td {
    background-color: #d3f1ff !important;
}

tr.selected-row:hover > td {
    background-color: #b3e7ff !important;
}
